* {
 margin: -0;
 padding: 0;
}

a,ul {
 text-decoration: none;
 list-style: none;
}

body {
 font-family: 'Montserrat', sans-serif;
}

.container {
 width: 100%;
 max-width: 900px;
 margin: 0 auto;
 padding: 32px 0;
}